<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Admin - BUDB</title>
    <link rel="stylesheet" href="/stylesheets/nicepage.css" media="screen">
<link rel="stylesheet" href="/stylesheets/Page-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascripts/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/javascripts/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.22.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-palette-4-light-3 u-sticky u-sticky-96bd u-header" id="sec-b654"><div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <a href="/" data-page-id="550948" class="u-image u-logo u-image-1" data-image-width="300" data-image-height="100" title="Home">
          <img src="/images/logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;"><%= username %></a>
</li><!--li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/users/addadmin" style="padding: 10px 20px;">Add Admin</a>
</li--><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/users/logout" style="padding: 10px 20px;">Logout</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">Home</a>
                  </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;"><%= username %></a>
                  </li><!--li class="u-nav-item"><a class="u-button-style u-nav-link" href="/users/addadmin" style="padding: 10px 20px;">Add Admin</a>
                  </li--><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/users/logout" style="padding: 10px 20px;">Logout</a>
                  </li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        
        <%- include('anyGroupSearch') %>
        
      </div></header>
    <section class="u-clearfix u-palette-4-light-3 u-section-1" id="sec-c724">
      <div class="u-clearfix u-sheet u-sheet-1">
        
        <!--CONTENT COMES HERE-->
        <% sub = {
          drug_target : 'DRUG TARGET',
          genes : 'GENES',
          amp : 'ASSOCIATED METABOLIC PATHWAYS',
          functions : 'FUNCTION',
          uniport_id : 'UNIPROT ID',
          reference : 'REFERENCE',
          links : 'EXTERNAL LINKS',
          species : 'SPECIES', 
          family : 'FAMILY', 
          country : 'COUNTRY OF COLLECTION', 
          part : 'PART USED', 
          extraction : 'EXTRACTION METHOD', 
          solvents : 'SOLVENT(S) USED', 
          metabolites : 'SECONDARY METABOLITES',
          antimicro_mthds : 'ANTIMICROBIAL  ASSAY METHODS',
          activity : 'ACTIVITY/MIC (µg/ml)', 
          liver_cell : 'CC50 (µg/ml) Chang Liver Cell', 
          exist_database : 'EXISITNG DATABASE', 
          mycobacterium : 'NAME OF MYCOBACTERIUM', 
          gene_info : 'GENETIC INFORMATION/ SIZE (bp)', 
          pro_gene_stats : 'PROTEIN AND GENE STATS', 
          accession : 'ACCESSION NUMBER / LOCUS', 
          source : 'DATA SOURCE',
          ncbi : 'NCBI LINK / DATA SOURCE',
          article : 'NAME OF ARTICLE', 
          genome_link : 'COMPLETE GENOME LINK+O1',
          test_compound : 'TESTED COMPOUNDS',
          mic : 'MIC', 
          ic50 : 'IC50', 
          technique : 'EXPERIMENTAL TECHNIQUE', 
          structure : 'STRUCTURE',
          m_weight : 'MOLECULAR WEIGHT',
          properties : 'OTHER PROPERTIES',
          cid : 'PUBCHEM CID',
          drug_bank_id : 'DRUG BANK ID', 
          drugs : 'EXISTING / POSSIBLE DRUGS',
          class : 'CLASS',
          targets : 'DRUG TARGETS',
          mechanism : 'MECHANISM OF ACTION',
          pharmacodynamics : 'PHARMACODYNAMICS',
          mode : 'MODE OF ADMINISTRATION',
          inhibitors : 'KNOWN INHIBITOR (S)',
          reference_links : 'LINKS FOR REFERENCE MANAGER'
      } %>

        <h1>Add an Entry to Specified Group</h1>
        <select id="groupSelector">
            <option value="drugTarget">Drug Target</option>
            <option value="ethnoPlants">Ethnopharmacological Plants</option>
            <option value="genome">Genome</option>
            <option value="testCompounds">Test Compounds</option>
            <option value="existingDrugs">Existing Drugs</option>
        </select>
        <!--Create 5 forms-->
        <style>
          form input{
            background-color:rgb(243, 229, 184);
            border-bottom-width: 3px;
          }
        </style>

        <div name="entryForm" id="drugTarget" style="display: block;">
            <form action="/addEntry/drug_target" method="post" >
                <h3>Add new entry for Drug Target</h3>
                <div style="float: left; width: 40%; min-width: 400px; margin-left: 20px; margin-bottom: 20px;">
                  <% for(x in results['drug_target']){  
                    if(x=='id'){ %>
                      <input type="hidden" name="<%= x %>" value="<%= results['drug_target'][x] + 1 %>" readonly>
                    <% continue } %>
                    <br>
                    <span class="header"><%= sub[x] %></span><br>
                    <input type="text" name="<%= x%>" id="">
                  <br>
                  <% } %>
                  <!--p class="header">Drug Target</p>
                  <input type="text" name="drugTarget" id="">
                  <br>
                  <p class="header">Genes</p>
                  <input type="text" name="genes" id="">
                  <br>
                  <p class="header">Associated Metabolic Pathways</p>
                  <textarea type="text" name="amp" id=""></textarea>
                  <br>
                  <p class="header">Function</p>
                  <textarea type="text" name="function" id=""></textarea>
                </div>
                <div style="float: left; width: 40%; min-width: 400px; margin-left: 4%;">
                  <br>
                  <p class="header">Uniport ID</p>
                  <input type="text" name="drugTarget" id="">
                  <br>
                  <p class="header">Reference</p>
                  <input type="text" name="reference" id="">
                  <br>
                  <p class="header">Links to Reference Manager</p>
                  <input type="text" name="drugTarget" id=""-->
                  <br>
                  <input type="submit" value="Add Entry">
                  <br>
                </div>
                
                <br>
            </form>
        </div>

        <div name="entryForm" id="ethnoPlants" style="display: none;">
            <form action="/addEntry/ethnopharmacological" method="post" >
              <h3>Add new entry for Ethnopharmacological Plants</h3>
                <div style="float: left; width: 40%; min-width: 400px; margin-left: 20px; margin-bottom: 20px;">
                  <% for(x in results['ethnopharmacological']){  
                    if(x=='id'){ %>
                      <input type="hidden" name="<%= x%>" value="<%= results['ethnopharmacological'][x] + 1 %>" readonly>
                    <% continue; } %>
                  <br>
                    <span class="header"><%= sub[x] %></span><br>
                    <input type="text" name="<%= x%>" id="">
                  <br>
                  <% } %>
                  <!--p class="header">Species</p>
                  <input type="text" name="species" id="">
                  <br>
                  <p class="header">Family</p>
                  <input type="text" name="family" id="">
                  <br>
                  <p class="header">Country of Collection</p>
                  <input type="text" name="country" id="">
                  <br>
                  <p class="header">Part Used</p>
                  <textarea type="text" name="function" id=""></textarea>
                  <br>
                  <p class="header">Extraction Method</p>
                  <textarea type="text" name="drugTarget" id=""></textarea>
                  <br>
                  <p class="header">Solvent Used</p>
                  <textarea type="text" name="reference" id=""></textarea>
                </div>
                <div style="float: left; width: 40%; min-width: 400px; margin-left: 4%;">
                  <br>
                  <p class="header">Secondary Methabolites</p>
                  <textarea type="text" name="drugTarget" id=""></textarea>
                  <br>
                  <p class="header">Antimicrobial Assay Methods</p>
                  <input type="text" name="family" id="">
                  <br>
                  <p class="header">Activity/Mic (ug/ml)</p>
                  <textarea type="text" name="family" id=""></textarea>
                  <br>
                  <p class="header">CC50 (ug/ml) Chang Liver Cell</p>
                  <textarea type="text" name="family" id=""></textarea>
                  <br>
                  <p class="header">Reference</p>
                  <textarea type="text" name="family" id=""></textarea>
                  <br>
                  <p class="header">External Links</p>
                  <textarea type="text" name="family" id=""></textarea-->
                  <br>
                  <input type="submit" value="Add Entry">
                  <br>
                </div>
                <br>
            </form>
        </div>

        <div name="entryForm" id="genome" style="display: none;">
            <form action="/addEntry/genome" method="post" >
              <h3>Add new entry for Genome</h3>
              <div style="float: left; width: 40%; min-width: 400px; margin-left: 20px; margin-bottom: 20px;">
                <% for(x in results['genome']){  
                  if(x=='id'){ %>
                    <input type="hidden" name="<%= x%>" value="<%= results['genome'][x] + 1 %>" readonly>
                  <% continue; } %>
                  <br>
                  <span class="header"><%= sub[x] %></span><br>
                  <input type="text" name="<%= x%>" id="">
                <br>
                <% } %>
                <!--p class="header">Name of Mycobacterium</p>
                <input type="text" name="mycobacterium" id="">
                <br>
                <p class="header">Existing Database</p>
                <input type="text" name="database" id="">
                <br>
                <p class="header">Genetic information/Size (bp)</p>
                <textarea type="text" name="geneInfo" id=""></textarea>
                <br>
                <p class="header">Protein and Gene Stats</p>
                <textarea type="text" name="stats" id=""></textarea>
                <br>
                <p class="header">Accession Number/Locus</p>
                <input type="text" name="access" id="">
                <br>
                <p class="header">Data Source</p>
                <input type="text" name="source" id="">
              </div>
              <div style="float: left; width: 40%; min-width: 400px; margin-left: 4%;">
                <br>
                <p class="header">Reference</p>
                <text type="text" name="ref" id="">
                <br>
                <p class="header">NCBI Link/Data Source</p>
                <input type="text" name="ncbi" id="">
                <br>
                <p class="header">Links</p>
                <textarea type="text" name="links" id=""></textarea>
                <br>
                <p class="header">Name of Article</p>
                <textarea type="text" name="article" id=""></textarea>
                <br>
                <p class="header">Complete Genome Link+01</p>
                <textarea type="text" name="genLink" id=""></textarea-->
                <br>
                <input type="submit" value="Add Entry">
                <br>
              </div>
              <br>
            </form>
        </div>
        
        <div name="entryForm" id="testCompounds" style="display: none;">
            <form action="/addEntry/test_compounds" method="post" >
              <h3>Add new entry for Test Compounds</h3>
              <div style="float: left; width: 40%; min-width: 400px; margin-left: 20px; margin-bottom: 20px;">
                  <% for(x in results['test_compounds']){  
                    if(x=='id'){ %>
                      <input type="hidden" name="<%= x%>" value="<%= results['test_compounds'][x] + 1 %>" readonly>
                    <% continue; } %>
                  <br>
                    <span class="header"><%= sub[x] %></span><br>
                    <input type="text" name="<%= x%>" id="">
                  <br>
                  <% } %>
                  <!--p class="header">Drug Target</p>
                  <input type="text" name="drugTarget" id="">
                  <br>
                  <p class="header">Genes</p>
                  <input type="text" name="genes" id="">
                  <br>
                  <p class="header">Associated Metabolic Pathways</p>
                  <textarea type="text" name="amp" id=""></textarea>
                  <br>
                  <p class="header">Function</p>
                  <textarea type="text" name="function" id=""></textarea>
                </div>
                <div style="float: left; width: 40%; min-width: 400px; margin-left: 4%;">
                  <br>
                  <p class="header">Uniport ID</p>
                  <input type="text" name="drugTarget" id="">
                  <br>
                  <p class="header">Reference</p>
                  <input type="text" name="reference" id="">
                  <br>
                  <p class="header">Links to Reference Manager</p>
                  <input type="text" name="drugTarget" id=""-->
                  <br>
                  <input type="submit" value="Add Entry">
                  <br>
                </div>
                <br>
            </form>
        </div>

        <div name="entryForm" id="existingDrugs" style="display: none;">
            <form action="/addEntry/existing_drugs" method="post" >
              <h3>Add new entry for Existing Drugs</h3>
              <div style="float: left; width: 40%; min-width: 400px; margin-left: 20px; margin-bottom: 20px;">
                  <% for(x in results['existing_drugs']){  
                    if(x=='id'){ %>
                      <input type="hidden" name="<%= x%>" value="<%= results['existing_drugs'][x] + 1 %>" readonly>
                    <% continue; } %>
                  <br>
                    <span class="header"><%= sub[x] %></span><br>
                    <input type="text" name="<%= x%>" id="">
                  <br>
                  <% } %>
                  <!--p class="header">Drug Target</p>
                  <input type="text" name="drugTarget" id="">
                  <br>
                  <p class="header">Genes</p>
                  <input type="text" name="genes" id="">
                  <br>
                  <p class="header">Associated Metabolic Pathways</p>
                  <textarea type="text" name="amp" id=""></textarea>
                  <br>
                  <p class="header">Function</p>
                  <textarea type="text" name="function" id=""></textarea>
                </div>
                <div style="float: left; width: 40%; min-width: 400px; margin-left: 4%;">
                  <br>
                  <p class="header">Uniport ID</p>
                  <input type="text" name="drugTarget" id="">
                  <br>
                  <p class="header">Reference</p>
                  <input type="text" name="reference" id="">
                  <br>
                  <p class="header">Links to Reference Manager</p>
                  <input type="text" name="drugTarget" id=""-->
                  <br>
                  <input type="submit" value="Add Entry">
                  <br>
                </div>
                
                <br>
            </form>
        </div>

        <script src="/javascripts/adminPage.js"></script>

        <!--CONTENT ENDS HERE-->
    