<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/nicepage.css" media="screen">
<link rel="stylesheet" href="/stylesheets/Page-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="/javascripts/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/javascripts/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.22.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-palette-4-light-3 u-sticky u-sticky-96bd u-header" id="sec-b654"><div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <a href="/" data-page-id="550948" class="u-image u-logo u-image-1" data-image-width="300" data-image-height="100" title="Home">
          <img src="/images/logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/#browse" style="padding: 10px 20px;">Browse</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/#aboutus" style="padding: 10px 20px;">Contact</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/users" style="padding: 10px 20px;">Admin</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#browse" style="padding: 10px 20px;">Browse</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#aboutus" style="padding: 10px 20px;">Contact</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/users" style="padding: 10px 20px;">Admin</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        
        <%- include('anyGroupSearch') %>
        
      </div></header>
    <section class="u-clearfix u-palette-4-light-3 u-section-1" id="sec-c724">
      <div class="u-clearfix u-sheet u-sheet-1">
        
        <!--CONTENT COMES HERE-->
        
        <% sub = {
          drug_target : 'DRUG TARGET',
          genes : 'GENES',
          amp : 'ASSOCIATED METABOLIC PATHWAYS',
          functions : 'FUNCTION',
          uniport_id : 'UNIPROT ID',
          reference : 'REFERENCE',
          links : 'EXTERNAL LINKS',
          species : 'SPECIES', 
          family : 'FAMILY', 
          country : 'COUNTRY OF COLLECTION', 
          part : 'PART USED', 
          extraction : 'EXTRACTION METHOD', 
          solvents : 'SOLVENT(S) USED', 
          metabolites : 'SECONDARY METABOLITES',
          antimicro_mthds : 'ANTIMICROBIAL  ASSAY METHODS',
          activity : 'ACTIVITY/MIC (µg/ml)', 
          liver_cell : 'CC50 (µg/ml) Chang Liver Cell', 
          exist_database : 'EXISITNG DATABASE', 
          mycobacterium : 'NAME OF MYCOBACTERIUM', 
          gene_info : 'GENETIC INFORMATION/ SIZE (bp)', 
          pro_gene_stats : 'PROTEIN AND GENE STATS', 
          accession : 'ACCESSION NUMBER / LOCUS', 
          source : 'DATA SOURCE',
          ncbi : 'NCBI LINK / DATA SOURCE',
          article : 'NAME OF ARTICLE', 
          genome_link : 'COMPLETE GENOME LINK+O1',
          test_compound : 'TESTED COMPOUNDS',
          mic : 'MIC', 
          ic50 : 'IC50', 
          technique : 'EXPERIMENTAL TECHNIQUE', 
          structure : 'STRUCTURE',
          m_weight : 'MOLECULAR WEIGHT',
          properties : 'OTHER PROPERTIES',
          cid : 'PUBCHEM CID',
          drug_bank_id : 'DRUG BANK ID', 
          drugs : 'EXISTING / POSSIBLE DRUGS',
          class : 'CLASS',
          targets : 'DRUG TARGETS',
          mechanism : 'MECHANISM OF ACTION',
          pharmacodynamics : 'PHARMACODYNAMICS',
          mode : 'MODE OF ADMINISTRATION',
          inhibitors : 'KNOWN INHIBITOR (S)',
          reference_links : 'LINKS FOR REFERENCE MANAGER'
      } %>
      
          <h1 class="subTitle"><%= resName%></h1>
          <% for(x in result){ %>
              <% if(x==="id"){ continue; } //Skip ID field %>
              <p class="subHead"> <%= sub[x] %> </p>
      
              <% if(result[x]==="nan"){ %>
                  <pre  class="content" name="content">N/A</pre>
              <% } else if(x==="links"){ %>
                  <pre  class="content" name="content"><%= result[x] %></pre>
              <% } else if(x==="genes"){ %>
                  <pre style="font-style:italic;"  class="content" name="content"><%= result[x] %></pre>
              <% } else if(x==="uniport_id"){ %>
                  <a href="https://www.uniprot.org/uniprot/<%= result[x] %>" target="_blank">
                      <pre><%= result[x] %></pre>
                  </a>
              <% } else { %>
                  <pre  class="content" name="content"><%- result[x]%></pre>
              <% } %>
              <hr>
          <% } %>
      
          <script src="/javascripts/resultsPage.js"></script>

        <!--CONTENT ENDS HERE-->
      </div>
    </section>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9dbd"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" spellcheck="false"> Please contact <b>BUDb</b>&nbsp;through <a href="mailto:dtanyimadu@gmail.com?subject=Hello" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">email</a>&nbsp;to add to our database
other vital information that will help accelerate the development of novel
drug(s) for the treatment of <b>Buruli
ulcer</b>.
        </p>
      </div></footer>
  </body>
</html>